@charset "utf-8";
/* CSS Document */
.container {
    padding: 20px;
    color: #fff;
    background: #fb7b00;
    margin: 0 auto;
    font-family: Trebuchet MS, sans-serif;
    min-height: 200px;
    width: 50%;
}
.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}
p {
    font-size: 1.1em;
    font-weight: 400;
    color: #000;
}
 input {
    width: 90%;
    color: #777;
    background: #fff;
    outline: none;
    font-size: 1.1em;
    padding: .8em;
    margin-bottom: 0.5em;
    border: none;
    border-radius: 2px;
}
 label {
     width: 100px;
     display: block;
 }
.button {
    border: none;
    outline: none;
    color: #FFFFFF;
    padding: .8em 1.5em;
    font-size: 1.1em;
    font-weight: 400;
    margin: 0;
    background: #d92519;
    border-radius: 2px;
}
.buttoncontainer {
    text-align:center;
}